/*Section*/
.collection{
    display: flex;
    min-height: calc(100vh - 150px);
    margin: 0;
}

/*Menu latéral*/
.menu{
    width: 20%;
    background-color: #EECFA1;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
}

.menu h2{
    font-size: 50px;
    font-weight: bolder;
    height: 10%;
}


/*Contenu de la page*/
.collectionContent{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.livreTest{
    width: 200px;
    height: 300px;
    background-color: #D9D9D9;
}

/*Modal*/

.modalFavContent{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.headermodal{
    height: 50px;
    display: flex;
    justify-content: end;
}

.bodymodal{
    display: flex;
    background-color: #FAEBD7;
    height: 60vh;
    width: 100%;
}

.bodyimg{
    width: 25%;
}

.bodysynopsis{
    width: 75%;
}

.bodymodal img{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 350px;
    height: 450px;
}

.footermodal{
    display: flex;
    justify-content: space-evenly;
    background-color: #dcc7ab;
    height: 30vh;
    width: 100%;
}

.footermodal div{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputpages{
    display: flex;
}

#pagesInput{
    width: 50px;
    font-size: 35px;
}

.stateImg{
    width: 50px;
}